@font-face {
    font-display: block;
    font-family: "Lab 2";
    /* prettier-ignore */
    src: url(/lab.eot);
    /* prettier-ignore */
    src: url(/lab.woff2) format("woff2"),
      url(/lab.woff) format("woff");
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-display: block;
    font-family: "Vinila";
    /* prettier-ignore */
    src: url(/vinila.woff2) format("woff2");
    font-style: normal;
    font-weight: 100 900;
  }

  :root {
    --base: 0.8rem;

    /* --width: 960px; */
    --arrow-height: calc(2 * var(--base));

    --body-font-width: 300;
    --body-font-weight: 300;
    --body-font-slant: 0;

    --bold-font-weight: 800;

    --heading-lineheight: 1;
    --heading-size: 500;
    --heading-quad: 0;
    --heading-bevl: 0;
    --heading-oval: 1000;

    --title-size: 0;
    --title-quad: 0;
    --title-bevl: 0;
    --title-oval: 0;

    --subheading-size: 0;
    --subheading-quad: 0;
    --subheading-bevl: 0;
    --subheading-oval: 0;

    --grid-gutter: var(--base);
    --grid-height: calc(2 * var(--base));
    --avatar-size: calc(12 * var(--base));
    --social-icon: var(--grid-height);
    --noise-size: 64;

    /* prettier-ignore */
    --arrow-file: url(/arrow.svg);
    /* prettier-ignore */
    --arrow-right-file: url(/arrow-right.svg);
    --darkblue: #0a3144;
    --blue: #035363;
    --lightblue: #0c6979;
    --purple: #8e6075;
    --pink: #bf5569;
    --red: #da3b3b;
    --orange: #cf7964;
    --yellow: #f7f0c2;
    --white: #fbf8e4;
    --diff-green: #caf2cb;
    --diff-red: #800a0a;
  }


  body {
    font-family: "Vinila", "Helvetica", sans-serif;
    font-variation-settings: "wdth" var(--body-font-width),
      "wght" var(--body-font-weight), "slnt" var(--body-font-slant);
    font-size: var(--grid-height);
    line-height: calc(var(--grid-height) + var(--grid-gutter));
    overflow-x: hidden;
    hyphens: auto;
  }

  /* footer */
  .me {
    width: var(--width);
    margin: calc(3 * var(--grid-height)) auto;
    display: grid;
    grid-gap: calc(2 * var(--grid-gutter));
    grid-template-columns: var(--avatar-size) 1fr [social-col] repeat(6,
        var(--social-icon));
    grid-template-rows: minmax(var(--avatar-size), min-content) 1fr;
    place-items: stretch;
    grid-auto-flow: row sparse;
  }

  .name,
  .info {
    margin: 0;
    padding: 0;
  }

  .me .name {
    font-family: "Lab 2", "Helvetica", sans-serif;
    font-variation-settings: "size" var(--heading-size),
      "quad" var(--heading-quad), "bevl" var(--heading-bevl),
      "oval" var(--heading-oval);
    font-size: calc(1.5 * var(--grid-height));
    margin-bottom: var(--grid-gutter);
  }

  .me>.bio {
    align-self: center;
    grid-column: 2 / end;
  }

  .me .icon:first-of-type {
    grid-column-start: social-col;
  }

  .avatar {
    width: var(--avatar-size);
    height: var(--avatar-size);
    border-radius: 50%;
    max-width: initial;
  }

  /* headings and formatting */
  h1,
  h2,
  h3 {
    margin: 0;
    font-family: "Lab 2", "Helvetica", sans-serif;
    font-variation-settings: "size" var(--heading-size),
      "quad" var(--heading-quad), "bevl" var(--heading-bevl),
      "oval" var(--heading-oval);
    line-height: 1.2em;
    hyphens: none;
  }

  h3,
  h4 {
    font-size: inherit;
    margin: 0;
    margin-top: calc(2 * var(--grid-height));
    font-variation-settings: "size" var(--subheading-size),
      "quad" var(--subheading-quad), "bevl" var(--subheading-bevl),
      "oval" var(--subheading-oval);
  }

  h3+p {
    margin-top: 0;
  }

  strong {
    font-weight: 700;
    --body-font-weight: 700;
    font-variation-settings: "wdth" var(--body-font-width),
      "wght" var(--body-font-weight), "slnt" var(--body-font-slant);
  }

  em {
    font-style: italic;
    --body-font-slant: 10;
    font-variation-settings: "wdth" var(--body-font-width),
      "wght" var(--body-font-weight), "slnt" var(--body-font-slant);
  }


  /* media */

  img,
  video {
    max-width: calc(100% - 2 * var(--grid-height));
    margin: 0 auto;
    display: block;
    width: 100%;
    height: auto;
  }

  @media (max-width: 720px) {
    :root {
      --base: 0.5rem;
    }
  }

  @media (max-width: 960px) {
    :root {
      --width: calc(100vw - 2 * var(--grid-gutter));
    }
  }

  html,
  body {
    margin: 0;
    border: 0;
    padding: 0;
  }

  html {
    background-color: var(--darkblue);
    min-height: 100vh;
  }

  body {
    position: relative;
    background-color: var(--yellow);
    color: var(--darkblue);

  }

  * {
    font-variation-settings: inherit;
    font-synthesis: none;
  }

  main {
    max-width: var(--width);
    margin: 0 auto;
    margin-top: calc(3 * var(--grid-height));
    padding: var(--grid-gutter);
  }

  a:link,
  a:visited {
    color: var(--red);
    text-decoration: none;
  }

  a:link:hover {
    text-decoration: underline;
  }

  h2 {
    --color: var(--darkblue);
    --font-size: calc(1.5 * var(--grid-height));

    position: relative;
    margin-top: calc(3 * (var(--grid-height) + var(--grid-gutter)));
    margin-bottom: calc(2 * (var(--grid-height) + var(--grid-gutter)));
    margin-left: calc((100vw - var(--width)) / -2);
    margin-right: calc((100vw - var(--width)) / -2);
    padding: var(--grid-height);
    padding-left: calc(50vw - var(--width) / 2);
    padding-right: calc(var(--width) / 2 + 50vw - var(--width) / 2);

    color: var(--white);
    font-size: var(--font-size);
    background: var(--color);
  }

  h2:before,
  h2:after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    width: 100%;
    height: var(--arrow-height);
    background: var(--color);
    mask: var(--mask);
    -webkit-mask: var(--mask);
  }

  h2:before {
    top: calc(var(--arrow-height) * -1);
    --mask: var(--arrow-file) 0% 0%/100% 200%;
  }

  h2:after {
    top: 100%;
    --mask: var(--arrow-file) 0% 100%/100% 200%;
  }

  header,
  footer {
    --spacing: var(--grid-height);
    background: var(--darkblue);
    color: var(--white);
    padding-top: 1px;
    display: flex;
    flex-wrap: wrap;
    justify-content: stretch;
    align-items: flex-end;
    padding: var(--spacing);
    position: relative;
  }

  header>h1 {
    margin: 0;
    margin-top: calc(2 * var(--grid-height));
    padding: 0;
    flex-basis: 50%;
    transform-origin: 0% 100%;
    transform: rotate(2deg);
    font-variation-settings: "size" var(--title-size), "quad" var(--title-quad),
      "bevl" var(--title-bevl), "oval" var(--title-oval);
  }

  header>h1:before,
  header>h1:after {
    content: none;
  }

  header>.arrows,
  footer>.arrows {
    flex-basis: calc(100% + 2 * var(--spacing));
    margin: calc(-1 * var(--spacing));
  }

  header>.arrows {
    margin-top: calc(1 * var(--grid-height));
  }

  footer>.arrows {
    margin-bottom: calc(1 * var(--grid-height));
  }

  .arrow {
    position: relative;
    height: var(--grid-height);
    background: var(--color);
  }

  .arrow:after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    width: 100%;
    height: var(--arrow-height);
    background: var(--color);
    mask: var(--mask);
    -webkit-mask: var(--mask);
    top: 100%;
    --mask: var(--arrow-file) 0% 100%/100% 200%;
  }

  .arrow:nth-of-type(1) {
    z-index: calc(10 - 1);
  }

  .arrow:nth-of-type(2) {
    z-index: calc(10 - 2);
  }

  .arrow:nth-of-type(3) {
    z-index: calc(10 - 3);
  }

  .arrow:nth-of-type(4) {
    z-index: calc(10 - 4);
  }

  .arrow:nth-of-type(5) {
    z-index: calc(10 - 5);
  }

  .arrow:nth-of-type(6) {
    z-index: calc(10 - 6);
  }

  .arrow:nth-of-type(7) {
    z-index: calc(10 - 7);
  }

  .arrow.darkblue {
    --color: var(--darkblue);
  }

  .arrow.blue {
    --color: var(--blue);
  }

  .arrow.lightblue {
    --color: var(--lightblue);
  }

  .arrow.purple {
    --color: var(--purple);
  }

  .arrow.pink {
    --color: var(--pink);
  }

  .arrow.red {
    --color: var(--red);
  }

  .arrow.orange {
    --color: var(--orange);
  }

  .arrow.yellow {
    --color: var(--yellow);
  }

  .icon {
    display: block;
    position: relative;
    width: var(--social-icon);
    height: var(--social-icon);
    background: var(--white);
    mask: var(--mask) var(--social-icon);
    -webkit-mask: var(--mask) var(--social-icon);
  }

  .icon:empty {
    opacity: 0;
  }

  .icon a {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
  }